<!DOCTYPE html>
<html ng-app="myapp">
    <head>
        <title>Company</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-resource.js"></script>
        <script src="angular/companyController.js"></script>
    </head>
    <body>
        <div ng-controller="CompanyController">
            <div>
                Company name: <input ng-model="companyName">
                <button ng-click="update()">find</button>
            </div>
            <br>
            <div>
                Users:
                <table>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>date</th>
                        <th>password</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.date|date:'dd.MM.yyyy'}}</td>
                        <td>{{user.password}}</td>
                        <td>
                            <button ng-click="delete(user.id)">x</button>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                Add user:
                <input ng-model="name"/>
                <input ng-model="password"/>
                <button ng-click="add()">add</button>
            </div>
            <br>
            <div>
                Search user:
                <input ng-model="name"/>
                <button ng-click="search()">search</button>
            </div>
        </div>
    </body>
</html>