<!-- static/index.html в нашем веб сервере вообще папка public замаплена на статический контент
 соответственно index.html - файл по умолчанию и если мы зайдем на localhost:8080 мы увидим этот файл -->
<!DOCTYPE html>
<html ng-app>
    <head>
        <title>AngularJS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="angular/helloController.js"></script>
        <!-- наш контроллер -->
    </head>

    <body>
        <!-- сссылаемся на контроллер
        HelloController используется в качестве контроллера и из него будут получаться данные -->
        <div ng-controller="HelloController">
            Person name: <input ng-model="name">
            <button ng-click="update()">update</button>
            <!-- метод update не глобальный, а он тоже привязан к scope : ng-click="$scope.update()" писать не надо вызывается неявно-->
            <!-- какой scope будет использоваться зависит от controller, controller HelloController => scope который в HelloController -->
            <!-- берет person из json и отображает из него id и name -->
            <p>id: {{person.id}}</p>
            <p>name: {{person.name}}</p>
        </div>
    </body>
</html>